<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cuenta"></ion-back-button>
      <ion-title>Conferencistas</ion-title>
    </ion-buttons>

    <div class="ion-float-right" *ngIf="status === 'ok' || status === 'cero'">
      <ion-tab-button (click)="addNew()">
        <ion-icon name="add" color="light"></ion-icon>
        <ion-text color="light">Nuevo</ion-text>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-buttons *ngIf="status === 'ok'">
    <ion-searchbar placeholder="Buscar" [(ngModel)]="searchText" animated></ion-searchbar>
    <ion-button (click)="recargarms()">
      <ion-icon slot="icon-only" name="refresh" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ng-container *ngIf="status === 'loading'">
    <ion-row class="center">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="status === 'cero'">
    <ion-label class="label_add center" color="medium">
      <b>No hay Conferencistas agregados!</b>
    </ion-label>
  </ng-container>

  <ng-container *ngIf="status === 'ok'">
    <ng-container
      *ngFor="let pub of dataDB | pipeFilter: {descripcion: searchText, nombre: searchText, precio: searchText}">
      <ion-row class="pointer ion-text-center">

        <ion-col size="3" class="list_table_content">
          <ion-thumbnail class="img_thmb">
            <img [src]="pub.img" alt="{{pub.descripcion}}" class="img_product">
          </ion-thumbnail>
        </ion-col>

        <ion-col size="7" class="list_table_content ion-text-left">
          <ion-label color="primary">
            <ion-text class="text_name"><b>{{pub.nombre}}</b>
              <p *ngIf="pub.email">{{pub.email}}</p>
            </ion-text>

            <p class="b_created">creado por: {{pub.usuario.nombre}}</p>
          </ion-label>
        </ion-col>


        <ion-col size="2" class="list_table_content">
          <ion-buttons class="block">
            <ion-button color="primary" (click)="presentPopover($event, pub)">
              <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ng-container>
  </ng-container>
</ion-content>