ion-col {
  padding: 0px !important;
}

.text_floating {
  font-size: 20px !important;
  padding-bottom: 1rem;
}

ion-card {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.img_banner {
  padding: 1rem;
}