<ion-header *ngIf="userReady === 'false'">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Iniciar Sesión</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" color="light">

  <ng-container *ngIf="status === 'loading'">
    <ion-row class="center">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="status === 'ok'">
    <br>
    <img src="assets/icon/logo.png" alt="cipal" class="logo">


    <div *ngIf="userReady === 'false'">

      <ion-grid class="grid_login">

        <ng-container *ngIf="fborlogin === 'login' && touchL">
          <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
            <ion-row>
              <ion-col>
                <br>
                <ion-list>
                  <ion-item lines="inset">
                    <ion-label color="primary">Email: </ion-label>
                    <ion-input #inputEmailL name="email" type="email" autocomplete="email" [(ngModel)]="loginUser.email"
                      required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
                  </ion-item>

                  <ion-item lines="inset">
                    <ion-label color="primary">Contraseña: </ion-label>
                    <ion-input name="password" [type]="passtype" autocomplete="current-password"
                      [(ngModel)]="loginUser.password" required></ion-input>
                    <ion-icon *ngIf="passtype === 'password'" name="eye-off-outline" (click)="changeTypeText()">
                    </ion-icon>
                    <ion-icon *ngIf="passtype === 'text'" name="eye-outline" (click)="changeTypePass()"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-text class="text_login_y pointer">¿Olvidaste la contraseña? <ion-text color="primary"><b
                      (click)="fbToLogin()">Recuperar mi cuenta</b></ion-text>
                </ion-text>
              </ion-col>
            </ion-row>

            <br>

            <ion-row>
              <ion-col>
                <ion-button type="submit" color="primary" shape="round"
                  *ngIf="loginUser.email && loginUser.password && fLogin.valid">
                  Ingresar
                </ion-button>

                <ion-button color="primary" shape="round"
                  *ngIf="!loginUser.email || !loginUser.password || !fLogin.valid" disabled>
                  Ingresar
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-button (click)="backNewL()" fill="outline" shape="round">
              <ion-text>Volver</ion-text>
            </ion-button>

          </form>
        </ng-container>


        <ng-container *ngIf="fborlogin === 'fb' && !touchR && !touchL">


          <br>


          <ion-row>
            <ion-col>
              <ion-button (click)="fbToLogin()" fill="outline" shape="round">
                <ion-text color="primary"><b>Iniciar sesión</b></ion-text>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button (click)="registerNew()" fill="outline" shape="round">
                <ion-text color="primary"><b>Registrarme</b></ion-text>
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- //// APP -->

        </ng-container>


      </ion-grid>
    </div>

    <div *ngIf="userReady === 'false' && touchR">
      <ion-grid>

        <form [formGroup]="registerUser" novalidate>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item lines="inset">
                  <ion-label color="primary" class="form_r">Email:</ion-label>
                  <ion-input #inputEmailR type="email" autocomplete="email" formControlName="email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
                </ion-item>

                <ion-item lines="inset">
                  <ion-label color="primary" class="form_r">Nombre:</ion-label>
                  <ion-input type="text" formControlName="nombre" autocomplete="name" required autocapitalize="on">
                  </ion-input>
                </ion-item>

                <ion-item lines="inset">
                  <ion-label color="primary" class="form_r">Contraseña:</ion-label>
                  <ion-input [type]="passtype" autocomplete="new-password" formControlName="password" required>
                  </ion-input>
                  <ion-icon *ngIf="passtype === 'password'" name="eye-off-outline" (click)="changeTypeText()">
                  </ion-icon>
                  <ion-icon *ngIf="passtype === 'text'" name="eye-outline" (click)="changeTypePass()"></ion-icon>
                </ion-item>

                <ion-item lines="inset">
                  <ion-label color="primary" class="form_r">Repetir Contraseña:</ion-label>
                  <ion-input [type]="passtype" autocomplete="new-password" formControlName="password_c" required>
                  </ion-input>
                </ion-item>

                <ion-text
                  *ngIf="registerUser.get('password_c').errors && (registerUser.get('password_c').dirty || registerUser.get('password_c').touched)"
                  color="danger" class="error">&nbsp;
                  <ion-icon name="alert" class="icon_error"></ion-icon>&nbsp;Las contraseñas no coinciden
                </ion-text>

              </ion-list>
            </ion-col>
          </ion-row>

          <br>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" shape="round" (click)="registro()"
                [disabled]="!registerUser.valid">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>

          <br>

          <ion-button (click)="backNewR()" fill="outline" shape="round">
            <ion-text>Volver</ion-text>
          </ion-button>
        </form>
      </ion-grid>

    </div>
  </ng-container>

</ion-content>

<!-- <ion-footer class="filters">
  <ion-row *ngIf="userReady === 'false'" class="pointer ion-text-center">
    <ion-col>
      <ion-text color="tertiary" class="text_login_n ion-padding">Al entrar en CODI significa que usted acepta nuestros
        <b routerLink="/terminos">Términos y
          Condiciones</b> y <b routerLink="/politica">Política de Privacidad.</b>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-footer> -->