<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Mi Código QR</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-row class="ion-justify-content-center">
    <div class="qrContainer" *ngIf="miQrText">
      <qrcode [qrdata]="miQrText" [width]="260" [elementType]="'img'" [errorCorrectionLevel]="'M'" #qrInput></qrcode>
      <ion-text class="text_qr_of" color="primary">CIPAL - 2021</ion-text>
    </div>

    <div class="qrContainer noqr " *ngIf="!miQrText">
      <ion-text class="loading_qr">Cargando...</ion-text>
    </div>
  </ion-row>

  <br>

  <ion-row class="ion-justify-content-center ion-padding">
    <div class="border_global qr_info">
      <ion-text color="medium" size="small">Podés usar este QR en la entrada de nuestro evento CIPAL, para obtener tu gafete.</ion-text>
    </div>
  </ion-row>


</ion-content>