.cupon_ticket_home {
  background-color: white !important;
  margin-top: -3px;
  margin-bottom: 1rem;
}

.grid_card {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.cupon_skeleton {
  margin-top: -3px;
  margin-bottom: 1rem;
  height: 70px;
}

.img_banner {
  border-radius: 15px !important;
}

.col_banner {
  display: inline;
}

.text_fecha_com {
  font-size: 10px;
}

.card {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.label_add {
  text-align: center;
  font-size: 1rem;
  display: block;
  padding-top: 1rem;
}

.search_desc {
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.text_commerce_desc {
  position: relative;
  text-align: left;
  display: flex;
  font-size: 10px;
}

.b_text {
  font-size: 16px;
}

.text_email {
  position: relative;
  padding-bottom: 0rem;
  text-align: left;
  display: flex;
}

.text_name {
  position: relative;
  padding-bottom: 0rem;
  text-align: left;
  display: flex;
  color: rgb(18, 128, 218);
}


.r {
  text-align: center;
}

.icon_footer_tuto {
  font-size: 1.5em;
  color: #ffffff;
}

.footer_tuto {
  background-color: #0f4c94;
}

.btn_comadm {
  display: block;
}

.icon_segment {
  vertical-align: middle;
  font-size: 18px;
}



.spinner_refresh {
  padding: 0.52rem;
}
